@{
    ViewBag.Title = "Contact";
}

<h2>參與人員</h2>
@*<h3>@ViewBag.Message</h3>*@

<h4>2022/08/19加入</h4>
<address>
    <label>姓名/暱稱：</label>
    <br />

    <label>簡介：</label>
    <br />

    <label>聯絡方式：</label>
    <br />
</address>

<address>
    <label>姓名/暱稱</label>
    <br />
    <label>簡介：</label>
    <br />
    <label>聯絡方式：</label>
    <br />
</address>

<address>
    <label>姓名/暱稱：</label>
    謝昀蓁/落秋楓<br />

    <label>簡介：</label>
    主要設計網站的前端<br />

    <label>聯絡方式：</label>
    GitHub：https://github.com/fallmaple8125
</address>