
@{
    ViewBag.Title = "Stafflogin";
}

<div class="container body-content">

    <div style="text-align: center; ">
        <br />
        <div class="panel panel-default" style="width:500px; height:320px; margin:auto">
            <h1>Life and Death Book</h1>
            <h4>管理員登入</h4>
            <br />
            @*按下按鈕傳送輸入框的值到Controller*@
                                 @*現在所在網頁名稱/資料夾*@
            @using (Html.BeginForm("Stafflogin", "Member", FormMethod.Post))
            {
                <table style="margin-left: auto; margin-right: auto;">
                    <tr style="height:40px" ; align="center" valign="middle">
                        <td style="font-size:20px">
                            帳號 &nbsp;
                        </td>
                        <td>
                            <input type="text" name="StaffAccount">
                        </td>
                    </tr>
                    <tr style="height:40px" ; align="center" valign=" middle">
                        <td style="font-size:20px">
                            密碼 &nbsp;
                        </td>
                        <td>
                            <input type="password" name="StaffPassword">
                        </td>
                    </tr>
                    <tr style="height:40px" ; align="center" valign=" middle">
                        <td colspan="2"><h5 style="color:red">@ViewBag.msg</h5></td>
                    </tr>
                </table>

                <input type="submit" value="登入" />

                <br />
            }
            <br />
            <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    <td style="width:100px" ; align="center" valign="middle">忘記密碼</td>
                </tr>
            </table>
            <br />

        </div>
    </div>
</div>

